{% load render_bundle from webpack_loader %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% render_bundle 'main' %}

    <link rel="apple-touch-icon" href="{% static 'itemManagement/crest.png' %}">
    <meta name="apple-mobile-web-app-title" content="SimLab">
    <title>Queen's Patient Simulation Lab</title>
    <link rel="shortcut icon" href="{% static 'itemManagement/crest.png' %}" />
    {% block head %}{%endblock head%}
  </head>
  <body>
    {% block content %}{%endblock content%}
  </body>
</html>
