{% extends "itemManagement/base_template.html" %}
{% load static %}
{% block content %}

<div class="container-fluid h-100">
    <div class="row h-100">
        <aside class="col-12 col-md-2 p-0 bg-dark fixed-top">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
                <a class="navbar-brand" href="#"><span class="font-weight-bold">Brand</span></a>
                <a class="navbar-toggler" href="#" data-toggle="collapse" data-target=".navbar-collapse"><img src="{% static 'itemManagement/hamburger.svg' %}"></a>
                <div class="collapse navbar-collapse align-items-start">
                    <ul class="flex-column navbar-nav w-100 justify-content-between">
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="{% url 'homepage'%}">Home</a>
                            </li>
                            {% if request.user.is_superuser %}
                                <li class="nav-item">
                                    <a class="nav-link pl-0" href="{% url 'reports'%}">Reports</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-0" href="{% url 'user-account'%}">Staff</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-0" href="{% url 'location-list'%}">Locations</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-0" href="{% url 'kgh-upload' %}">KGH Catalog</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="{% url 'settings-home'%}">Settings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" href={% url 'kgh-upload' %}>Tutorial</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="{% url 'logout' %}">Sign Out</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="{% url 'login' %}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </aside>
        <main class="col offset-md-2 bg-faded py-3">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.level_tag }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% block body %}{%endblock body%}
        </main>
    </div>
    {% endblock content %}