{% extends "itemManagement/chrome_template.html" %}
{% load static %}
{% block body %}

    <div class="container">
    <div class="form-group">
        <input class="form-control form-control-lg" id="input" type="text" placeholder="Search" aria-label="Search">
    </div>

    <table id="itemTable" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Location(s)</th>
          <th scope="col">Units on Hand</th>
        </tr>
      </thead>
      <tbody>
      {% for item in items %}
        <tr data-access-url="{% url 'item-details' item.itemId %}" data-toggle="modal" data-target="#exampleModal">
          <td scope="row"><img src="{% static item.images.0 %}" class="img-thumbnail img-responsive img-rounded" style="max-height: 60px; max-width: 70px;"></td>
          <td>{{ item.name }}</td>
          <td>{{ item.locations.0 }}</td>
          <td>{{ item.totalQuantity }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

          <div class="modal-body">
             <div id="modalContainer">

             </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>


    {# Drop down list for editing item quantities per row #}
    <script>
       $('#itemTable tr').click(function (){
           $("#modalContainer").load($(this).attr('data-access-url'));
        });

    </script>



{% endblock body %}
