{% load render_bundle from webpack_loader %}

{% load static %}
{% load crispy_forms_tags %}


<div id="item-detail-modal-body" class="container-fluid" id="item-detail-modal-root">
    <div id="item-details-error" class="alert alert-danger"></div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <form method="POST" action="{% url 'item-details' itemId=itemId %}" id="item-details-form">
        {% csrf_token %}

        <div class="form-group">
            <label for="itemName">Item Name</label>
            <input type="name" class="form-control" name="itemName" id="itemName" value="{{ name }}">
        </div>

        <div class="form-group">
            <label for="materialNo">KGH ID</label>
            <input type="item_id" class="form-control" name="kghId" id="materialNo" value="{{ kghId }}">
        </div>

        <div id="itemImageCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for i in images.iterator %}
                    <li data-target="#itemImageCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}
                        class="active" {% endif %}></li>
                {% empty %}
                    <li data-target="#itemImageCarousel" data-slide-to="0"
                        class="active"></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner" data-default-url="{% static  'itemManagement/default_image.svg' %}">
                {% for image in images.iterator %}
                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                        <div class="delete-img-btn btn-outline-danger btn btn-sm" data-item-id="{{ image.id }}"><i class="fas fa-trash-alt"></i></div>
                        <img src="{% url 'get-photo' id=image.id %}" class="carousel-image d-block w-100 rounded">
                    </div>
                {% empty %}
                    <div class="carousel-item active empty-item">
                        <div class="delete-img-btn btn-outline-danger btn btn-sm" data-item-id=""><i class="fas fa-trash-alt"></i></div>
                        <img src="{% static  'itemManagement/default_image.svg' %}"
                             class="carousel-image d-block w-100 rounded">
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#itemImageCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#itemImageCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="row m-1">
            <div class="btn btn-outline-secondary col" type="button">
                Add photo
                <input id="add-image-input" type="file" name="itemImage" accept="image/*" multiple>

            </div>


        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea type="item_description" class="form-control" name="description"
                      id="description">{{ description }}</textarea>
        </div>

        {#        <div class="form-group">#}
        <label>Tagging</label>

        <div class="form-group">
            <div class="tagsShown">
                {% for tag in tags %}
                    <span class="badge badge-info m-1">{{ tag }}</span>
                {% endfor %}
            </div>
            {#todo use contenteditable to allow editable badges#}

            <div class="tagsInputBoxContainer">
                <input name="newTags" id="tagsInputBox" data-role="tagsinput">
            </div>
            <button class="btn btn-outline-secondary m-1 tagEditBtn" type="button">
                Edit tags
            </button>
        </div>

        <div class="form-group">
            <label for="itemPrice">Item price</label>
            <input type="MA_price" class="form-control" name="price" id="itemPrice" value="{{ price }}">
        </div>
        <div class="form-group">
            <label for="unit">Unit of Measurement</label>
            <input type="unit_measure" class="form-control" name="unit" id="unit" value="{{ unit }}">
        </div>

        <div class="form-group">
            <label for="materialNo">Par Level Alert</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" {% if alertWhenLow %} checked {% endif %} aria-label="Enable Alerts" name="alertWhenLow" >
                    </div>
                </div>
                <input inputmode="numeric" placeholder="Threshold Value" class="form-control" name="parLevel" id="parLevel" value="{{ parLevel }}">
            </div>
        </div>


        <table class="table table-striped mb-2 mt-2 locationsTable">
            <thead>
                <tr>
                    <th scope="col">Location</th>
                    <th scope="col">Stock</th>
                </tr>
            </thead>
            <div class="form-group">
            <tbody class="container">
                {% for location in locations %}
                    <tr id="{{ location.id }}">
                        <th scope="row">{{ location.name }}</th>
                        <td class="row th-lg">
                            <div class="input-group row">
                                <button type="button" class="btn btn-danger decrement rounded-0 disable-tap-zoom">
                                    -
                                </button>
                                <input name="original-quantity-location-{{ location.id }}" readonly hidden class="form-control" id="item_quantity_original" value="{{ location.quantity }}">
                                <input name="quantity-location-{{ location.id }}" type="number" min="0" inputmode="numeric" pattern="[0-9]*" title="Non-negative integer" id="item_quantity"
                                       class="form-control item_quantity col-sm-6 col-8 text-center"
                                       value="{{ location.quantity }}">
                                <button type="button" class="btn btn-success increment rounded-0 disable-tap-zoom">
                                    +
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-danger m-1 deleteRow">Delete</button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </div>
            <thead class="thead-light">

                <tr class="locationAdder">
                    <th scope="row">
                        <div class="form-group">
                            <select class="form-control" id="locationSelect">
                                {% for location in remainingLocations %}
                                    <option data-id="{{ location.id }}">{{ location.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </th>
                    <th>
                        <button type="button" class="btn btn-primary addRow align-content-center">Add</button>
                    </th>
                </tr>
            </thead>

        </table>

        <div class="form-group">
            <label for="stock">Total Stock</label>
            <input readonly type="total_stock" class="form-control" id="stock" value="{{ totalQuantity }}">
        </div>
        {% if itemId != "" %}
            <a href="{% url 'item-history' itemID=itemId %}">view history report</a>
        {% endif %}

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="admin-submit" type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>

    {% render_bundle 'item_details' %}
</div>




