{% load static %}


<div class="container">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <form>
        <div class="form-group m-2">
            <label for="itemName">Item Name</label>
            <input type="name" class="form-control" id="itemName" value="{{ name }}">
        </div>

        <div class="form-group m-2">
            <label for="materialNo">KGH ID</label>
            <input type="item_id" class="form-control" id="materialNo" value="{{ kghId }}">
        </div>

        <div id="itemImageCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#itemImageCarousel" data-slide-to="0" class="active"></li>

                {% for i in images|slice:"1:" %}
                    <li data-target="#itemImageCarousel" data-slide-to="1"></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner" style="max-width: 500px; margin: auto">
                <div class="carousel-item active">
                    <img src="{% static images.0 %}" class="d-block w-100 rounded">
                </div>
                {% for i in images|slice:"1:" %}
                    <div class="carousel-item">
                        <img src="{% static i %}" class="d-block w-100 rounded">
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#itemImageCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#itemImageCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="row m-1">
            <button class="btn btn-outline-secondary col" type="button" data-toggle="collapse"
                    data-target="#pictureSetting" aria-expanded="false" aria-controls="pictureSetting">
                Edit pictures
            </button>
        </div>

        <div id="pictureSetting" class="collapse">
            <div class="list-group list-group-horizontal m-2 row card card-body">
                {% for i in images %}
                    <img src="{% static i %}"
                         class="list-group-item rounded img-thumbnail col-sm-3">
                {% endfor %}
                <button class="btn btn-outline-secondary list-group-item col-sm-3" type="button">
                    <img src="{% static 'itemManagement/setting.png' %}" class="rounded img-thumbnail">
                </button>
            </div>
        </div>

        <div class="form-group m-2">
            <label for="description">Description</label>
            <textarea type="item_description" class="form-control" id="description"
                      value="{{ description }}"/>
        </div>

        <div class="form-group m-2">
            <label>Tagging</label>

            <div class="row">
                {% for tag in tags %}
                    <span class="badge badge-info m-1" style="line-height: 2.5">{{ tag }}</span>
                {% endfor %}
                {#todo use contenteditable to allow editable badges#}
                <button class="btn btn-outline-secondary m-1" type="button">
                    Edit tags
                </button>

            </div>

            <div class="form-group m-2">
                <label for="itemPrice">Item price</label>
                <input type="MA_price" class="form-control" id="itemPrice" value="${{ price }}">
            </div>
            <div class="form-group m-2">
                <label for="unit">Unit of Measurement</label>
                <input type="unit_measure" class="form-control" id="unit" value="{{ unit }}">
            </div>

            <table class="table table-striped m-2">
                <thead>
                <tr>
                    <th scope="col">Location</th>
                    <th scope="col">Stock</th>
                </tr>
                </thead>
                <tbody>
                {% for location in locations %}
                    <tr>
                        <th scope="col">{{ location.name }}</th>
                        <td class="row">
                            <button class="btn btn-primary position-relative m-1 decrement" type="button">
                                -
                            </button>
                            <div class="form-group m-1">
                                <input class=" form-control item_quantity" id="amount" value="{{ location.quantity }}"
                                       style="width: 80px;" type="decimal">
                            </div>
                            <button class="btn btn-secondary position-relative m-1 increment" type="button">
                                +
                            </button>
                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    <th scope="row" colspan="2">
                        <button type="button" class="btn btn-outline-secondary col">assign a new location</button>
                    </th>
                </tr>
                </tbody>
            </table>

            <div class="form-group m-2">
                <label for="stock">Total Stock</label>
                <input readonly type="total_stock" class="form-control" id="stock" value="{{ totalQuantity }}">
            </div>

            <a href="" class="m-2">view history report</a>
    </form>

</div>


<script>
    /*
        Called when the plus button next to a quantity is pressed
     */
    $(".increment").click(function () {
        addQuantity(1, $(this))
    });
    /*
        Called when the minus button next to a quantity is pressed
     */
    $(".decrement").click(function () {
        addQuantity(-1, $(this))
    });

    /*
        Gets the quantity field for the incremented/decrement button and changes its value
     */
    function addQuantity(value, caller) {
        quantityElem = caller.siblings().find(".item_quantity")
        newQuantity = parseInt(quantityElem.val()) + value
        quantityElem.val(newQuantity)
    }
</script>