{% load render_bundle from webpack_loader %}
{% load static %}

<meta name="viewport" content="width=device-width, user-scalable=no">
<div class="container-fluid" id="item-detail-modal-root">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <form method="POST" action="{% url 'item-details' itemId=itemId %}" id="item-details-form">
        {% csrf_token %}
        <div class="form-group">
            <h3 for="itemName">{{ name }}</h3>
        </div>


        <table class="table table-striped mb-2 mt-2">
            <thead>
                <tr>
                    <th scope="col">Location</th>
                    <th scope="col">Stock</th>
                </tr>
            </thead>
            <tbody>
                <div class="form-group">
                {% for location in locations %}
                    <tr>
                        <th scope="col">{{ location.name }}</th>
                        <td class="row">
                            <div class="center container">
                                <div class="input-group row xs-12">
                                    <button type="button" class="btn btn-danger decrement rounded-0 disable-tap-zoom">
                                        -
                                    </button>
                                    <input name="quantity-location-{{ location.id }}" type="number" min="0" inputmode="numeric" pattern="[0-9]*" title="Non-negative integer" id="item_quantity"
                                           class="form-control item_quantity col-4 col-sm-3 text-center"
                                           value="{{ location.quantity }}">
                                    <button type="button" class="btn btn-success increment rounded-0 disable-tap-zoom">
                                        +
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </div>
            </tbody>
        </table>

        {#Confirm and reset button for quantity update#}
            <div class="row">
                <div class="container col-lg-6 col-lg-offset-8"></div>
                <div class="container-fluid col-lg-3 col-6">
                    <button type="button" class="btn btn-danger col-12" data-dismiss="modal">Reset</button>
                </div>
                <div class="container-fluid col-lg-3 col-6">
                    <button type="submit" class="btn btn-primary col-12" >Confirm</button>
                </div>
            </div>


        <div id="itemImageCarousel" class="carousel slide mb-4 mt-4" data-ride="carousel">
            <ol class="carousel-indicators">
                    {% for i in images.iterator %}
                        <li data-target="#itemImageCarousel" data-slide-to="{{ forloop.counter }}" {% if foorloop.first %} class="active" {% endif %}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner" >
                    {% for image in images.iterator %}
                        <div class="carousel-item {% if forloop.first %} active {% endif %}">
                            <img src="{% url 'get-photo' id=image.id %}" class="d-block w-100 rounded">
                        </div>
                    {% empty %}
                        <div class="carousel-item active">
                            <img src="{% static  'itemManagement/default_image.svg' %}" class="d-block w-100 rounded">
                        </div>
                    {% endfor %}
                </div>
            <a class="carousel-control-prev" href="#itemImageCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#itemImageCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        {% if description and description.strip %}
            <h5>Description</h5>
            <hr>
            <p class="ml-2">{{ description }}</p>
        {% endif %}

        <div class="form-group">
            {% if not tags %}
            <br>
            <h6>Tagging</h6>

            <div class="row">
                {% for tag in tags %}
                    <span class="badge badge-info m-1" >{{ tag }}</span>
                {% endfor %}
            </div>
            {% endif %}

            {% if not unit %}
                <br>
                <div class="form-group">
                    <label for="unit">Unit of Measurement: {{ unit }}</label>
                </div>
            {% endif %}
        </div>
    </form>

{% render_bundle 'item_details' %}
</div>


