{% extends "itemManagement/chrome_template.html" %}
{% block body %}


    <div class="container">
        <h1>Locations</h1>

        <div class="container">
            <table id="itemTable" class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                {% for location in locations %}
                    <tr id="{{ location.id }}" data-toggle="modal">
                        <td id="locationName">{{ location.name }}</td>
                        <td id="locationDescription">{{ location.description }}</td>

                        <td>
                            <button type="button" class="btn btn-secondary editBtn" data-toggle="modal"
                                    data-target="#changeLocationModal">
                                Edit
                            </button>
                            <button type="button" class="btn btn-danger deleteBtn" href="{% url 'location-list' %}">
                                Delete
                            </button>
                        </td>
                        {#TODO once search is finished, implement button to query for all items at clicked row's location#}
                    </tr>
                {% empty %}
                    <td>
                        <p>No locations exist</p>
                    </td>
                {% endfor %}
                </tbody>
            </table>
            <div class="row ml-1">
                <button class="btn btn-primary float-right" data-toggle="modal" data-target="#addLocationModal">Add
                    Location
                </button>
            </div>
        </div>

        {#    Include the modal for adding locations #}
        {% include "itemManagement/locationView/template_modal_location.html" with locationExists=False templateId="addLocationModal" modalTitle="Add Location" %}
        {#    Include the modal for editing locationss #}
        {% include "itemManagement/locationView/template_modal_location.html" with locationExists=True templateId="changeLocationModal" modalTitle="Change Location" %}


    </div>
    <script>
        $(".deleteBtn").click(function () {
            locationId = $(this).closest("tr").attr("id")
            $.ajax({
                type: "DELETE",
                url: "{% url 'location-list' %}" + locationId,
                headers: {"X-CSRFToken": "{{ csrf_token }}"},
                success: function (msg) {
                    location.reload()
                }
            });
        })
        $(".editBtn").click(function () {
            locationElem = $(this).closest("tr")
            modalElem = $("#changeLocationModal")

            locationId = locationElem.attr("id")
            locationName = locationElem.find("#locationName").text()
            locationDescription= locationElem.find("#locationDescription").text()


            modalElem.find("#modalLocationId").val(locationId)
            modalElem.find("#modalName").val(locationName)
            modalElem.find("#modalDescription").val(locationDescription)
        })

    </script>
{% endblock body %}