@import "~bootstrap4-tagsinput/tagsinput";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.disable-tap-zoom {
  touch-action: manipulation;
}

.carousel-inner {
  max-width: 500px;
  margin: auto;
}

.item_quantity {
  width: 80px;
}