@import "~bootstrap/scss/bootstrap";

#login-crest-logo {
    max-width: 150px;
}

// Sidebar
@media (min-width: 768px) {
    aside {
        height: 100%;
    }
}

@media (max-width: 767px) {
    body {
        padding-top: 3em;
    }
}

.img-thumbnail {
    max-height: 60px;
    max-width: 70px;
}