{% extends "itemManagement/chrome_template.html" %}
{% load static %}
{% block body %}

    <div class="jumbotron mx-auto col-lg-8 pb-2">
        <h1 class="mx-auto text-center">Upload Your KGH Catalog</h1>

        <br>
        <p>This page allows you to upload your KGH catalog to update the price and KGH ID of any KGH Items in the
            database. It is important that catalog is a csv with headers matching<a
                    href="{% url 'kgh-download-template' %}"> the template</a>. Columns may be in any order but the
            three headers must be present and spelled exactly as the template has shown.</p>
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                {% csrf_token %}
                <label for="uploadKghFile">Upload the new KGH catalog here to update item prices:</label>
                <input type="file" class="form-control-file col-6" accept=".csv,text/csv" id="uploadKghFile"
                       name="kghFile">
                <div class="row">
                    <button type="submit" class="btn btn-primary btn-lg btn-block mx-auto col-10 mt-4 ">Submit</button>

                </div>

            </div>
        </form>

    </div>

    {% if catalogUploaded %}
        <div class="jumbotron mx-auto col-lg-8 pb-2">
            {% if changes %}
                <h3>Changes Found</h3>
                <table class="table text-center">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Item Name</th>
{#                    <th scope="col">Old ID</th>#}
                    <th scope="col">KGH ID</th>
                    <th scope="col">Old Price</th>
                    <th scope="col">New Price</th>
                </tr>
                <tbody>


            {% endif %}
            {% for change in changes %}
                <tr>
                    <td>{{ change.title }}</td>
{#                    <td>{{ change.oldKghId }}</td>#}
                    <td>{{ change.kghId }}</td>
                    <td>{{ change.oldPrice }}</td>
                    <td>{{ change.newPrice }}</td>
                </tr>
            {% empty %}
                <h3>No changes found</h3>
            {% endfor %}
            {% if changes %}
                </tbody>
                </table>
            {% endif %}
        </div>

    {% endif %}

    {% if unmatchedFields %}
        <div class="jumbotron mx-auto col-lg-8 pb-2">
            <h3>Could not match some items</h3>
            <table class="table text-center">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">KGH ID</th>
                    <th scope="col">Item Name</th>
                </tr>
                <tbody>


                {% for unmatched in unmatchedFields %}
                    <tr>
                        <td>{{ unmatched.kghID }}</td>
                        <td>{{ unmatched.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}



{% endblock %}