{% extends "itemManagement/chrome_template.html" %}
{% load static %}
{% block body %}

    <div class="jumbotron mx-auto col-lg-8">
        <h1 class="mx-auto text-center">Upload Your KGH Catalog</h1>

        <br>
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                {% csrf_token %}

                <label for="uploadKghFile">Upload the new KGH catalog here to update item prices:</label>
                {#                TODO, more file types#}
                <div class="row">
                    <input type="file" class="form-control-file col-6" accept=".csv" id="uploadKghFile" name="kghFile">

                    <button type="submit" class="btn btn-primary">Submit</button>

                </div>
            </div>
        </form>
        <form method="GET" action="{% url 'kgh-download-template' %}">
            <button type="submit" class="btn btn-primary">Click here to download a template of what the spreadsheet
            should look like
        </button>
        </form>

    </div>

    {% if catalogUploaded %}
        <div class="jumbotron mx-auto col-lg-8">
            {% if changes %}
                <h3>Changes Found</h3>
                <table class="table text-center">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Item Name</th>
                    <th scope="col">Old ID</th>
                    <th scope="col">New ID</th>
                    <th scope="col">Old Price</th>
                    <th scope="col">New Price</th>
                </tr>
                <tbody>


            {% endif %}
            {% for change in changes %}
                <tr>
                    <td>{{ change.title }}</td>
                    <td>{{ change.oldKghId }}</td>
                    <td>{{ change.kghId }}</td>
                    <td>{{ change.oldPrice }}</td>
                    <td>{{ change.newPrice }}</td>
                </tr>
            {% empty %}
                <h3>No changes been found</h3>
            {% endfor %}
            {% if changes %}
                </tbody>
                </table>
            {% endif %}
        </div>

    {% endif %}


{% endblock %}